{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}ストーリー一覧{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>ストーリー一覧</h1>
    </div>
    <div class="row">
        <!-- Boostrapのテーブルタグについては、https://cccabinet.jpn.org/bootstrap4/content/tables 参照 -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">画像</th>
                    <th scope="col">タイトル</th>
                    <th scope="col">テーマ</th>
                    <th scope="col">概要</th>
                    <th scope="col">作成者用リンク</th>
                </tr>
                </thead>
                <tbody>
                {# 取得した結果分ループする処理です#}
                {# コントローラで指定した $data["result"] は Twigでは result として扱えます #}
                {# for文でresultの中の一次元目の配列をループで回す形となります #}
                {# ループ処理中の1行はrowの中に入りますので、このループ中はrow.カラム名で情報を表示することが可能です #}
                {% for story in stories %}
                    <tr>
                        <td class="align-middle" scope="col">
                            <a href="/story/{{ story.id }}/1/">
                                <img src="{{ story.picture }}" width="200" class="img-fluid">
                            </a>
                        </td>
                        <td class="align-middle" scope="col">
                            <a href="/story/{{ story.id }}/1/">{{ story.title }}</a>
                        </td>
                        <td class="align-middle" scope="col">{{ story.theme1 }} × {{ story.theme2 }}</td>
                        <td class="align-middle" scope="col">{{ story.discription }}</td>
                        <td class="align-middle" scope="col">
                            {% if story.is_mine %}
                                <a href="/story/{{ story.id }}/1/edit">編集</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}

<style>
/* PC & 全体 */

/* スマホ */
@media screen and (max-width:767px) {
  .table-striped > thead > tr > th {
    text-align: center;
    width: 20%;
    padding: 0px;
    margin: 0px;
  }

  .table-striped > tbody > tr > td {
    text-align: center;
    width: 20%;
  }
}
</style>

{% endblock %}
