{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{{ story.title }}{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}

    <div class="page-header text-center">
        <h2>{{ story.title }}</h4>
    </div>
    <div class="page-header text-center">
        <h4>{{ story.page_title }}</h4>
    </div>
    <div class="row">
        <div class="col" style="text-align:center;">
            <img src="{{story.picture}}" class="img-fluid">
        </div>
    </div>
    <hr>
    {# ここ以下に文章と、選択肢 #}
    <div class="row">
        <div class="col">
            {# 文章 #}
            {{story.content}}
            <hr>
            {# 選択肢 #}
            <div class="row">
                <div class="col align-bottom">
                  <div class="row">
                      {% set num = 12 / story.selection|length %}
                      {% for key, url in story.selection %}
                          <div class="col-{{num}}" style="text-align:center;"><a href="{{url}}" class="btn btn-outline-primary" role="button">{{key}}</a></div>
                      {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
